body {
  margin:100px;
  font-size: 25px;
  background-color:#161616;
  font-family:'Cranberry Gin';
  image-rendering: pixelated;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wave span {
  display: inline-block;
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'Cranberry Gin';
  font-style: normal;
  font-weight: normal;
  src: local('Cranberry Gin'), url('../font/Cranberry Gin.otf') format('woff');
}

.sliding-background {
  position: relative;
  background-image: url("../bg.png");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 50px 50px;
  animation: slide 1s infinite linear;
}

@keyframes slide{
  0%{
    background-position-x: 0px;
    background-position-y: 0px;
  }
  100%{
    background-position-x: -100px; /* or something */
    background-position-y: -100px;
  }
}

h1 {
  font-weight: normal;
}

html {
  color: white;
}

a {
  transition: 0.3s;
  bottom: 0px;
}

a:link {
  position: relative;
  color: white;
  text-decoration: underline;
  animation-fill-mode: forwards;
}

a:hover{
  bottom: 6px;
}

a:visited {
  color: white;
  text-decoration: underline;
}

.text {
  font-size: 25px;
}

img {
  padding-top: 100px;
}
