* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

header {
    text-align: center;
    font-family: 'Courier New';
}

.white {
    color: #fff;
}


.h1 {
    color: white;
    font-family: 'Courier New';
    padding: 80px;
    font-size: 45px;
    text-align: left;
}

.list {
    text-align: center;
    color: black;
    position: relative;
    margin: auto;
}

.typing {
    border-right: .15em solid white;
    white-space: nowrap;
    overflow: hidden;
    animation:
        /* typing 3.5s steps(40, end),*/
        cursor-effect .75s step-end infinite;
}


@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes cursor-effect {
    from, to { border-color: transparent }
    50% { border-color: white }
}
