@import url("../font/webfont.css");

body {
  font-size: 25px;
  background-color: #161616;
  font-family: 'NDS12', 'PixelMplus12-Regular', sans-serif;
  image-rendering: pixelated;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wave span {
  display: inline-block;
  animation: wave 1s ease-in-out infinite;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'PixelMplus12-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../font/PixelMplus12-Regular.ttf') format('truetype');
}

.sliding-background {
  position: relative;
  background-image: url("../bg.png");
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: 50px 50px;
  animation: slide 1s infinite linear;

}

@keyframes slide {
  0% {
    background-position-x: 0px;
    background-position-y: 0px;
  }
  100% {
    background-position-x: -100px;
    background-position-y: -100px;
  }
}

h1 {
  font-weight: normal;
}

html {
  color: white;
}

a {
  transition: 0.3s;
  bottom: 0px;
}

a:link {
  position: relative;
  color: white;
  text-decoration: underline;
  animation-fill-mode: forwards;
}

a:hover {
  bottom: 6px;
}

a:visited {
  color: white;
  text-decoration: underline;
}

.text {
  font-size: 25px;
}

p {
  margin: 5px;
}

img {
  padding-top: 100px;
}

#content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the content div takes up at least the full viewport height */
  margin: 100px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.fixed-bottom {
  margin-top: auto; /* Push the text to the bottom of the content div */
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center; /* Optional, for centering the text */
}

.fullscreen-iframe {
  width: 100%;
  height: 100vh;
  border: none;
}
